:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;
  --special-yellow-dark: #F0C52E;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
}

@font-face {

  font-family: 'Gilloryextrabold';

  src: url(../fonts/gilroyextrabold.woff);

  src: url(../fonts//gilroyextrabold.woff2);

  font-weight: bold;

  font-style: normal;
}

@font-face {

  font-family: 'Gillorylight';

  src: url(../fonts//gilroylight.woff);

  src: url(../fonts/gilroylight.woff2);

  font-weight: normal;

  font-style: normal;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black)
}

img {
  max-width: 100%;
  height: auto;
}

.catalog-popup,
.write-us-popup,
.map-popup {
  display: none;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

.button {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header {
  font-family: 'Gilloryextrabold', sans-serif;
  background-color: var(--special-yellow);
  text-decoration: none;
}

.user-navigation {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  list-style: none;
}

.user-navigation-wrapper {
  list-style: none;
}

.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:focus {
  opacity: 0.3;
}

.main-navigation {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-navigation-footer a {
  color: var(--basic-white)
}

.main-navigation-wrapper {
  list-style: none;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:focus {
  opacity: 0.3;
}

.main-slide {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 47px;
}

.main-slide-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.main-slide-wrapper {
  font-family: 'Gillorylight', sans-serif;
  list-style: none;
  font-weight: normal;

}

.main-slide-stats {
  font-size: 36px;
  letter-spacing: 0.1em;
}

.main-slide-features {
  font-size: 13px;
}

.products-banner a {
  font-family: 'Gilloryextrabold', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.user-history {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--basic-black);
}

.user-history a {
  opacity: 0.5
}

.user-history a:hover {
  opacity: 0.8;
}

.user-history a:focus {
  opacity: 0.3;
}

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer ul {
  list-style: none;
}

.social-networks a {
  opacity: 0.3;
}

.social-networks a:hover {
  opacity: 0.6;
}

.social-networks a:focus {
  opacity: 0.1;
}

.user-navigation-footer a {
  color: var(--basic-white);
  opacity: 0.7;
}

.user-navigation-footer a:hover {
  opacity: 1;
}

.user-navigation-footer a:focus {
  opacity: 0.3;
}

.service-slide-title {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.service-slide-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.company-info-title {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.company-info-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.aboutus-wrapper {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 16px;
}

.filter {
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.filter h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.sorting h2 {
  text-transform: uppercase;
  font-family: 'Gilloryextrabold', sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.sorting a {
  opacity: 0.3;
  font-size: 14px;
  color: var(--basic-black);
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:focus {
  opacity: 1.0;
}

.brand {
  opacity: 0.1;
}

.brand:hover {
  opacity: 1;
}